.addTag {
  padding: 5px;
  & .ant-select {
    height: 32px !important;
  }
  & .ant-select-selection-search-input {
    padding: 10px !important;
    height: 32px !important;
    font-size: 14px;
  }
}
