.table-of-contents {
  margin-left: 5px;
  margin-top: 8px;
  &-jump {
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
  }
  &-jump:hover {
    color: #007bff;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid #e9e9e9;
    position: relative;

    & li {
      margin-bottom: 8px;
    }
  }

  &-title {
    cursor: pointer;
    transition: color 0.3s ease;
    color: #333;
  }

  &-title:hover {
    color: #007bff;
    font-weight: bold;
  }
}
