.viewMore {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &-text {
    padding: 3px 0px;
  }
  &-icon {
    color: #79c846;
    font-size: 25px;
  }
}
