@import "../../variable.scss";
@import "../../breakPoint.scss";

.home {
  margin-top: 10px;
  padding: 20px 0px;
  padding-bottom: calc($footer-height + 20px);
  @include for-size(tablet, min) {
    padding-bottom: calc($footer-height-res + 20px);
  }

  &-name {
    font-size: 70px;
    text-align: center;
    // filter: blur(0.01em);
    color: $background-color;
    text-shadow: 2px 2px $text-menu-color;

    @include for-size(phone, min) {
      font-size: 40px;
    }
  }

  &-introduce {
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    padding: 40px 20px;

    @include for-size(phone, min) {
      line-height: 28px;
      font-size: 15px;
    }
  }

  &-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    @include for-size(desktop, min) {
      width: 95%;
    }
  }
  &-title {
    padding: 30px;
    text-align: center;
    color: $background-color;
    background-color: antiquewhite;
    margin-bottom: 35px;
  }
  &-content {
    display: flex;
    margin-top: 30px;

    @include for-size(desktop, min) {
      flex-direction: column-reverse;
    }

    &-title {
      padding: 20px 0px;
    }
    &-line {
      display: flex;
      align-items: center;
      &-left {
        height: 2px;
        background-color: $background-color;
        width: 150px;
      }
      &-right {
        height: 2px;
        background-color: #ccc;
        flex: 1;
      }
    }
    &-featured {
      flex: 7;
      padding: 10px 40px 10px 0px;
      @include for-size(desktop, min) {
        padding: 10px 10px 10px 0px;
      }
    }
    &-trending {
      flex: 3;
      padding: 10px;
      &-container {
        @include for-size(desktop, min) {
          display: grid;
          padding: 10px;
          grid-template-columns: repeat(3, 1fr);
        }
        @include for-size(tablet, min) {
          display: grid;
          padding: 10px;
          grid-template-columns: repeat(2, 1fr);
        }

        @include for-size(500px, min) {
          display: grid;
          padding: 10px;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    &-more {
      position: relative;
      display: block;
      padding: 6px 10px;
      border: 1px inset $background-color;
      color: $background-color;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      width: 150px;
      font-size: 13px;
      margin: 10px auto;
      transition: width ease-in-out 0.2s;
      &::after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border: 1px outset $background-color;
        border-radius: 5px;
      }
      &:hover {
        width: 170px;
      }
    }
    &-special-post {
      padding: 60px 0px;
    }
  }
}
