@import '../../breakPoint.scss';
/* Custom styles for paragraphs */
.custom-paragraph {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Custom styles for images */
.custom-image {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Custom styles for links */
.custom-link {
  color: #3498db;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}

/* Custom styles for headings */
.custom-heading1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 35px;
}

.custom-heading2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  line-height: 35px;
}

.custom-heading3 {
  font-size: 1.17em;
  margin-bottom: 0.5em;
  line-height: 35px;
}

.custom-heading4 {
  font-size: 1em;
  margin-bottom: 0.5em;
  line-height: 35px;
}

.custom-heading5 {
  font-size: 0.83em;
  margin-bottom: 0.5em;
  line-height: 35px;
}

.custom-heading6 {
  font-size: 0.67em;
  margin-bottom: 0.5em;
  line-height: 35px;
}

.custom-list-u {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-list-u .custom-list-item {
  padding-left: 1.5em;
  position: relative;
}

.custom-list-u .custom-list-item::before {
  content: '\2022'; /* Bullet character */
  color: #3498db; /* Bullet color */
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: -8px;
}

.custom-list-o {
  list-style: decimal;
  padding: 0;
  margin-left: 1em;
}

.custom-list-o .custom-list-item {
  padding-left: 0.5em;
  position: relative;
}

.custom-list-item {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.custom-list-u .custom-list-u,
.custom-list-o .custom-list-u,
.custom-list-o .custom-list-o,
.custom-list-u .custom-list-o {
  margin-left: 20px;
}

/* Custom styles for blockquotes */
.custom-blockquote {
  border-left: 4px solid #3498db;
  padding-left: 1em;
  margin-left: 0;
  font-style: italic;
  color: #555;
}

/* Custom styles for horizontal rule */
.custom-hr {
  border: 1px solid #ddd;
  margin: 1em 0;
}

/* Custom styles for pre tag */
.blog-pre {
  background-color: #f8f8f8;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 3em !important;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    35px -23px 2px -16px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    35px -23px 2px -16px rgba(0, 0, 0, 0);
  position: relative;
  &-container {
    overflow: auto;
  }
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  // max-width: 80%;

  // @include for-size(tablet, min) {
  //   overflow-x: auto;
  //   display: block;
  // }

  & th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #3498db;
    @include for-size(tablet, min) {
      // white-space: nowrap;
    }
  }

  & tr:nth-child(even) {
    background-color: #ecf0f1;
  }

  & th {
    background-color: #2980b9;
    color: #ecf0f1;
  }

  & tr:hover {
    background-color: #a6c2d4;
  }
}

// /* Custom styles for code tag */
// .blog-code {
//   font-family: 'Courier New', Courier, monospace;
//   font-size: 0.9em;
//   background-color: #f8f8f8;
//   padding: 0.2em 0.4em;
//   border-radius: 4px;
// }
