@import '../../variable.scss';
@import '../../breakPoint.scss';

.post {
  &-comment {
    width: 90%;
    max-width: 1400px;
    min-width: 350px;
    margin: 0 auto;
    @include for-size(desktop, min) {
      width: 98%;
    }

    &-title {
      color: $background-color;
      margin: 20px 0px;
    }
  }

  &-more {
    width: 90%;
    max-width: 1400px;
    min-width: 350px;
    margin: 0 auto;
    padding-top: 20px;
    &-related,
    &-other {
      color: $background-color;
    }
  }
}
