@import "../../variable.scss";
@import "../../breakPoint.scss";

.searchInput {
  border-radius: 30px;
  border: 3px solid $text-menu-color;
  background-color: #fff;
  height: 40px;
  width: 350px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  &-input {
    width: 270px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-right: 10px;
  }
  &-btn {
    height: 100%;
    width: 50px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 20px;
    background-color: $background-color;
    color: $text-menu-color;
    cursor: pointer;
    font-weight: 800;
  }
}
