@import './variable.scss';
@import './breakPoint.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
  background-color: $body-background;
}

.content-wrap {
  min-height: calc(100vh - $header-height);
  padding-bottom: calc($footer-height + 20px);
  @include for-size(tablet, min) {
    padding-bottom: calc($footer-height-res + 20px);
  }
  &.no-padding {
    height: 100vh;
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  @include for-size(tablet, min) {
    width: 1px;
  }
}

::-webkit-scrollbar-track {
  background-color: $background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $text-menu-color;
  border-radius: 3px;
}

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #555;
// }
